body{
    text-align: center;
    font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans', Arial sans-serif;
    font-weight: bold;
}

h1{
    font-size: 70px;
    margin-top: 3%;
    padding: 1px;
}

h2{
    font-size: 30px;
}

#rock-btn{
    border: none;
    border-radius: 8px;
    padding: 0%;
}

#paper-btn{
    border: none;
    border-radius: 8px;
    padding: 0%;
}

#scissors-btn{
    border: none;
    border-radius: 8px;
    padding: 0%;
}

